body {
    text-align: center;
    font-family: Arial, sans-serif;
}

.slideshow-container {
    position: relative;
    max-width: 800px;
    margin: auto;
}

.mySlides {
    display: none;
}

.mySlides img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    /* Keeps slides uniform */
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    padding: 16px;
    color: white;
    font-size: 24px;
    font-weight: bold;
    user-select: none;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

.fade {
    animation: fadeEffect 1s;
}

@keyframes fadeEffect {
    from {
        opacity: .4;
    }

    to {
        opacity: 1;
    }
}